body{
    background-size:cover;
}

.heading{
    width:25%;
}

button{
    width:10%;
}

.status{
    font-size:25px;
    color:blue;
    font-weight:bold;
    padding:5px;
    margin:7px;
}

.heading2{
    color:purple;
    font-size:20px;
    padding:6px;
    margin:8px;
}

canvas{
    border: 5px solid black;
    border-radius:10px;
    box-shadow:7px 7px 7px darkgray;
    padding:5px;
    margin:5px;
}